{% extends "index.html" %}
{% block titulo %}
Detalle motor
{% endblock titulo %}


{% block h1_header %}
<br>
<br>

<div class="container">

<p><h4>{{motores.titulo}}</h4></p>
{% if motores.imagenproducto %}
    <p><img src="{{motores.imagenproducto.url}}" class="" width="300px"></p>
{% endif %}
<p>Marca: {{motores.marca}}</p>
<p>Modelo: {{motores.modelo}}</p>
<p>Descripción: {{motores.descripcion}}</p>
<p>Año: {{motores.year}}</p>
<p>Precio(US$): {{motores.precio}}</p>
{% if request.user.is_authenticated %}
<p>Teléfono de Contacto: {{motores.telefonoContacto}}</p>
<p>Email de Contacto: {{motores.emailContacto}}</p>
{% else %}
<p>Para ver mas detalle debe registrarse</p>
</div>
{% endif %}
<br>

<br>  
{% endblock h1_header %}  

{% block botones %}

<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>
<a class="navbar-brand" href={% url 'motores' %}>Motores</a>
<a class="navbar-brand" href={% url 'productos' %}>Productos</a>



{% endblock botones %}

{% block main %}
>


{% endblock main %}