{% extends "index.html" %}

{% block title_head %}
Editar motores
{% endblock title_head %}

{% block h1_header %}
Editar motores
{% endblock h1_header %}

{% block main %}

<br>
<br>

{% if user.id == motores.usuario.id %}
<div class="container">

    <h4>Editar Motor</h4>
    
</div>

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>    
</div>
<br>
{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}

{% endblock main %}