{% extends "index.html" %}
{% block titulo %}
Listado de motores
{% endblock titulo %}


{% block h1_header %}

<div class="container text-center">
    <h1 class="mb-5" style="color: #AA1000;">
        Listado de Motores 
    </h1> 
</div>


<div class="container text-center">
    <div class="row">
        {% comment %} <h3 style="color: #FF0000;">  {% endcomment %}
        {% if motores %}  
            {% for motor in motores %}
            <div class="col-sm-6 align-items-left">
                <div class="card-body"> 
                
                {% if motor.imagenproducto %}
                    <p><img src="{{motor.imagenproducto.url}}" class="" width="100px"></p>
                {% endif %} 

               <h5 style="color: #AA1000;"> {{motor.titulo}} </h5> <a class="navbar-brand"  style="color: #FF1000;" href="{% url 'motor' motor.id %}"><i class="bi bi-eye" style="color: #FF1000;"></i>Ver</a>
               
                
                {% if user.id == motor.usuario.id %}
                <a class="navbar-brand" style="color: #FF1000;"  href="{% url 'editarmotor' motor.id %}"><i class="bi bi-pencil-fill"></i>Editar</a>
                <a class="navbar-brand" style="color: #FF1000;"  href="{% url 'eliminarmotor' motor.id %}"><i class="bi bi-trash text-danger"></i>Eliminar</a> 
                <br>
                <br>
                <br>
                {% endif %}
                </div>
             </div>
        
            {% endfor %}

            {% else %}
            <h2 class="mb-10" style="color: #FF1000;">
                No hay motores disponibles
            </h2>  
            
            {% endif %} 
    </div>
</div>  

{% endblock h1_header %}  

{% block botones %}

        <li class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'productos' %}>Productos</a></li>
        
        <li class="nav-item"><a class="nav-link active"  href={% url 'inicio' %}>Inicio</a></li>
    </ul>



{% endblock botones %}

{% block main %}

<h2 class="mb-10">
    Desea buscar un motor?
   </h2>  
<a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'busquedamotor' %}>Buscar</a>


{% endblock main %}
{% block fondo %}

        <header class="motores">
        
{% endblock fondo %}