{% extends "index.html" %}
{% block titulo %}
Listado de aviones
{% endblock titulo %}


{% block h1_header %}

<div class="container text-center">
    <h1>
        Listado de Aviones
    </h1> 
</div>


<div class="container text-center">
    <div class="row">
        
        {% if aviones %}  
            {% for item in aviones %}
            <div class="col-sm-6 align-items-left">
                <div class="card-body"> 
                
                {% if item.imagenproducto %}
                    <p><img src="{{item.imagenproducto.url}}" class="" width="100px"></p>
                {% endif %} 

               <h5 style="color: #AA1000;"> {{item.titulo}} </h5> <a class="navbar-brand"  style="color: #FF1000;" href="{% url 'detail' item.id %}"><i class="bi bi-eye" style="color: #FF1000;"></i>Ver</a>
               
                
                {% if user.id == item.usuario.id %}
                <a class="navbar-brand" style="color: #FF1000;"  href="{% url 'edit' item.id %}"><i class="bi bi-pencil-fill"></i>Editar</a>
                <a class="navbar-brand" style="color: #FF1000;"  href="{% url 'eliminar' item.id %}"><i class="bi bi-trash text-danger"></i>Eliminar</a> 
                <br>
                <br>
                <br>
                {% endif %}
                </div>
             </div>
        
            {% endfor %}

            {% else %}
            <h2 class="mb-10" style="color: #FF1000;">
                No hay motores disponibles
            </h2>  
            
            {% endif %} 
    </div>
</div>  

{% endblock h1_header %}  

{% block botones %}

        <li class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'productos' %}>Productos</a></li>
        
        <li class="nav-item"><a class="nav-link active"  href={% url 'inicio' %}>Inicio</a></li>
    </ul>



{% endblock botones %}


{% block fondo %}

        <header class="motores">
        
{% endblock fondo %}
{% block main %}


<a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'busquedaproducto' %}>Buscar</a>


{% endblock main %}