{% extends "index.html" %}
{% block titulo %}
Detalle
{% endblock titulo %}


{% block h1_header %}
<br>
<br>

<div class="container">

<p><h4>{{motores.titulo}}{{aviones.titulo}}{{radios.titulo}}{{otro.titulo}}</h4></p>
{% if motores.imagenproducto %}
    <p><img src="{{motores.imagenproducto.url}}" class="" width="300px"></p>
   {% endif %}
{% if aviones.imagenproducto %}
    <p><img src="{{aviones.imagenproducto.url}}" class="" width="300px"></p>
{% endif %}
{% if radios.imagenproducto %}
    <p><img src="{{radios.imagenproducto.url}}" class="" width="300px"></p>
{% endif %}
{% if otro.imagenproducto %}
    <p><img src="{{otro.imagenproducto.url}}" class="" width="300px"></p>
{% endif %}
<p>Marca: {{motores.marca}}{{aviones.marca}} {{radios.marca}}{{otro.marca}}</p>
<p>Modelo: {{motores.modelo}}{{aviones.modelo}}{{radios.modelo}}{{otro.modelo}}</p>
<p>Descripción: {{motores.descripcion}}{{aviones.descripcion}}{{radios.descripcion}}{{otro.descripcion}}</p>
<p>Año: {{motores.year}}{{aviones.year}}{{radios.year}}{{otro.year}}</p>
<p>Precio(USD): {{motores.precio}}{{aviones.precio}}{{radios.precio}}{{otro.precio}}</p>
{% if request.user.is_authenticated %}
<p>Teléfono de Contacto: {{motores.telefonoContacto}}{{aviones.telefonoContacto}}{{radios.telefonoContacto}}{{otro.telefonoContacto}}</p>
<p>Email de Contacto: {{motores.emailContacto}}{{aviones.emailContacto}}{{radios.emailContacto}}{{otro.emailContacto}}</p>
<p>Usuario de la publicacion: {{motores.usuario}}{{aviones.usuario}}{{radios.usuario}}{{otro.usuario}}</p>


{% else %}
<p>Para ver mas detalle debe registrarse</p>
</div>
{% endif %}
<br>

<br>  
{% endblock h1_header %}  

{% block botones %}
<a class="navbar-brand" href={% url 'motores' %}>Motores</a>
<a class="navbar-brand" href={% url 'aviones' %}>Aviones</a>
<a class="navbar-brand" href={% url 'radios' %}>Radios</a>
<a class="navbar-brand" href={% url 'otros' %}>Otros</a>
<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>




{% endblock botones %}

{% block main %}

{% if request.user.is_authenticated %}
    {% if request.user.id == aviones.usuario.id or request.user.id == motores.usuario.id or request.user.id == radios.usuario.id or request.user.id == otro.usuario.id %}
    {% if aviones %}
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'editav' aviones.id %}>Editar</a>
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'eliminarav' aviones.id %}>Eliminar</a>
    {% endif %}
    {% if motores %}
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'editmo' motores.id %}>Editar</a>
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'eliminarmo' motores.id %}>Eliminar</a>
    {% endif %}
    {% if radios %}
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'editra' radios.id %}>Editar</a>
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'eliminarra' radios.id %}>Eliminar</a>
    {% endif %}
    {% if otro %}
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'editot' otro.id %}>Editar</a>
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'eliminarot' otro.id %}>Eliminar</a>
    {% endif %}

    {% else %}
    
    <a class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'enviar' %}>enviar mensaje a {{motores.usuario}}{{aviones.usuario}} {{radios.usuario}}{{otro.usuario}}?</a>

    {% endif %}
{% endif %}


{% endblock main %}