{% extends "index.html" %}

{% block titulo %}
Bienvenido {{request.user.username}}
{% endblock titulo %}
{% block h1_header %}
<h1 class="mb-5">
  Bienvenido {{request.user.first_name}}
  {% if request.user.datosadicionales.avatar %}
    <img src={{request.user.datosadicionales.avatar.url}} alt="imagen" height="40px">

  {% endif %}
</h1> 


{% endblock h1_header %}
{% block botones %}
<li class="nav-item"><a class="btn btn-primary" aria-current="page" href={% url 'productos' %}>Productos</a></li>
<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>

{% endblock botones %}
