{% extends "index.html" %}

{% block titulo %}
Editar el perfil de {{request.user.username}}
{% endblock titulo %}


{% block h1_header %}
<h1 class="mb-5">
    Editar Perfil
  </h1> 
  

{% endblock h1_header %}
{% block main %}
<form action={% url 'editar_perfil' %} method='POST' enctype="multipart/form-data">
    {% csrf_token %} 
    {{formulario}}
     <input type="submit" value='Actualizar'>

     <a class="navbar-brand" href={% url 'cambiar_pass' %}>Cambiar Contraseña</a>
</form>

{% endblock  %}  
{% block botones %}
<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>

{% endblock botones %}