{% extends "index.html" %}

{% block titulo %}
Editar el perfil de {{request.user.username}}
{% endblock titulo %}


{% block h1_header %}
<h1 class="mb-5">
    Editar Perfil de {{request.user.username}}
    {% if request.user.datosadicionales.avatar %}
  <img src={{request.user.datosadicionales.avatar.url}} alt="imagen" height="150px">

  {% endif %}
  </h1> 
  

{% endblock h1_header %}
{% block main %}
<form action={% url 'editar_perfil' %} method='POST' enctype="multipart/form-data">
    {% csrf_token %} 
    {{formulario}}
     <input type="submit" class="btn btn-secondary" value='Actualizar'>

     <a class="btn btn-secondary"  type="button"   href={% url 'cambiar_pass' %}>Cambiar Contraseña</a>
</form>

{% endblock  %}  
{% block botones %}
<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>

{% endblock botones %}